.services__text {
    width: 15%;
}

.card {
    background-color: rgb(120, 125, 129);
    width: 11%;
    padding: 0px 50px;
}

.services__list {
    display: flex;
    width: 100%;
    list-style: none;
}