{%- from "core-components/title.njk" import Title -%}

{% macro AboutUs() %}
    <section>
        <div class="aboutus__container container">
            <div class="aboutus__title">
                {{ Title("About us") }}
            </div>
            <div class="aboutus__image">
                <img src="https://placehold.co/380x300" alt="Image Alt" width="380" height="300">
                <p class="aboutus__text">Cillum aute do minim irure ea exercitation ex elit consequat velit velit deserunt duis. Tempor est laborum aute enim commodo nostrud id aute culpa pariatur veniam. Cillum enim proident veniam ex est est commodo irure deserunt. Dolore ullamco amet commodo aliquip sunt pariatur minim id pariatur incididunt.</p>
            </div>
            <div class="aboutus__image-second">
                <img src="https://placehold.co/380x300" alt="Image Alt" width="380" height="300">
                <p class="aboutus__text">Cillum aute do minim irure ea exercitation ex elit consequat velit velit deserunt duis. Tempor est laborum aute enim commodo nostrud id aute culpa pariatur veniam. Cillum enim proident veniam ex est est commodo irure deserunt. Dolore ullamco amet commodo aliquip sunt pariatur minim id pariatur incididunt.</p>
            </div>
        </div>
    </div>
</section>
{% endmacro %}