{% macro SearchBar() %}
        <div class="search-bar">
            <form action="/search" method="get">
                <div class="search-input-container">
                    <input type="text" name="q" placeholder="Rechercher..." class="search-input">
                    <i class="fas fa-search search-icon"></i>
                </div>
            </form>
        </div>
{% endmacro %}